
.ChatRoomContainer {
  display: block;
  height: 100%;
  flex: 1;
  // background-color: aquamarine;

  .Header {
    @include flexCenter(row);
    @include draggable();
    justify-content: space-between;
    height: 6rem;
    background-color: azure;
    

  }

  main {
    background-color: rgb(189, 209, 220);
    height: calc(100% - 14.3rem - 1px);
  }

  .InputTools {
    display: grid;
    grid-template-columns: 2.4rem 2.4rem 2.4rem 1fr 2.4rem 2.4rem;
    align-items: center;
    justify-items: center;
    height: 2.4rem;
    background-color: rgb(248, 248, 248);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-bottom: 1px solid $borderGray;

    img {
      width: 1.1rem;
      filter: opacity(.5);
    }
  }

  .Input {
    display: grid;
    grid-template-columns: 1fr 5rem;
    align-items: center;
    height: 5.9rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    .TextInput {
      @include defaultFonts();
      font-size: 0.88rem;
      height: 90%;
      // background-color: blueviolet;
      outline: none;
      border: none;
      resize: none;
    }
    .SendButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 4.4rem;
      background-color: rgb(249, 249, 249);
      border-radius: 5px;
      border: 1px solid $borderGray;
      color: $dimGray;
      font-size: smaller;
    }
  }
}
