
.ContentRoot {
  display: block;
  height: 100%;
  flex: 1;
  background-color: lightgreen;

  .ContentHeader {
    @include flexCenter(row);
    @include draggable();
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 2.8rem;
    background-color: $white;

    .TabName {
      margin-left: 0.8rem;
    }

    #addFriend {
      margin-right: 0.5rem;

      filter: invert(15%);

      &:hover {
        filter: opacity(.9) invert(20%);
      }
    }
  }

  .ContentSearchBar {
    @include flexCenter(row);
    height: 2.5rem;
    background-color: $white;

    .SearchFriendsWrapper {
      @include flexCenter(row);
      justify-content: flex-start;
      width: 90%;
      height: 35%;
      background-color: $gray;
      padding: 0.25rem;
      border-radius: 6px 6px 6px 6px;
      
      #search {
        margin-left: 0.3rem;
      }

      .SearchFriends {
        border: none;
        outline: none;
        flex: 1;
        background-color: $gray;
        margin-left: 0.3rem;
        font-size: 0.8rem;

        &::placeholder {
          color: $dimGray;
        }
      }
    }
  }
}

