$brown: rgb(66, 54, 48);
$black: rgb(64, 64, 64);
$white: rgb(255, 255, 255);
$gray: rgb(247,247,247);
$borderGray: rgb(224, 224, 224);
$dividerGray: rgb(241, 241, 241);
$dividerTitle: rgb(154, 154, 154);
$birthdayPink: rgb(225, 115, 122);
$badgeRed: rgb(253, 91, 73);
$dimGray: rgb(199, 199, 199);
$thickGray: rgb(119, 119, 119);
$melon: rgb(154, 231, 176);
$yellow: rgb(250, 225, 1);
$bubbleYellow: rgb(254, 228, 0);

$marginDefault: 0.8rem;
$paddingDefault: 0.5rem;
