@import "./functions";
@import "./variables";
@import "./sidebar";
@import "./friend";

body {
  margin: 0;
}

.App {
  @include flexCenter(row);
  justify-content: space-between;
  user-select: none;

  height: 100vh;
}
