.Sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-app-region: drag;
  height: 100%;
  min-width: 4.2rem;
  background-color: #423630;
  position: -webkit-sticky;
  position: sticky;
}

.Sidebar img {
  -webkit-filter: invert(70%);
          filter: invert(70%);
}

.Sidebar img.highlight {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Sidebar img.highlight:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Sidebar img:hover {
  -webkit-filter: opacity(0.9) invert(85%);
          filter: opacity(0.9) invert(85%);
}

.Sidebar #personal {
  position: absolute;
  top: 4rem;
}

.Sidebar #chat {
  position: absolute;
  top: 7rem;
}

.Sidebar #etc {
  position: absolute;
  top: 9.5rem;
}

.Sidebar #bell {
  position: absolute;
  bottom: 3.5rem;
}

.Sidebar #setting {
  position: absolute;
  bottom: 1rem;
}

.FriendTabContainer {
  display: block;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.FriendTabContainer .FriendTabHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-app-region: drag;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.8rem;
  background-color: white;
}

.FriendTabContainer .FriendTabHeader .HeaderTitle {
  color: #404040;
  font-weight: 700;
  margin-left: 0.8rem;
}

.FriendTabContainer .FriendTabHeader #addFriend {
  margin-right: 0.5rem;
  -webkit-filter: invert(15%);
          filter: invert(15%);
}

.FriendTabContainer .FriendTabHeader #addFriend:hover {
  -webkit-filter: opacity(0.9) invert(20%);
          filter: opacity(0.9) invert(20%);
}

.FriendTabContainer .ContentSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2.5rem;
  background-color: white;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 35%;
  background-color: #f7f7f7;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 6px 6px 6px 6px;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper #search {
  margin-left: 0.3rem;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper .SearchFriends {
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f7f7f7;
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper .SearchFriends::-webkit-input-placeholder {
  color: #c7c7c7;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper .SearchFriends:-ms-input-placeholder {
  color: #c7c7c7;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper .SearchFriends::-ms-input-placeholder {
  color: #c7c7c7;
}

.FriendTabContainer .ContentSearchBar .SearchFriendsWrapper .SearchFriends::placeholder {
  color: #c7c7c7;
}

.FriendTabContainer main {
  height: calc(100% - 5.3rem);
  overflow-y: scroll;
}

.FriendTabContainer main::-webkit-scrollbar {
  width: 0.3rem;
}

.FriendTabContainer main::-webkit-scrollbar-track {
  background-color: transparent;
}

.FriendTabContainer main::-webkit-scrollbar-thumb {
  border-radius: 0.09rem;
  background-color: #c7c7c7;
}

.FriendTabContainer main::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.FriendTabContainer main .SectionTitle {
  margin-top: 0.5rem;
  margin-left: 0.7rem;
  font-size: 0.75rem;
  color: #9a9a9a;
}

.FriendTabContainer main .Divider {
  height: 0.1rem;
  width: 94%;
  margin: auto;
  border-top: 1px solid #f1f1f1;
}

.FriendTabContainer main .ChannelItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.4rem;
  padding: 0.2rem;
}

.FriendTabContainer main .ChannelItem:hover {
  background-color: #f7f7f7;
}

.FriendTabContainer main .ChannelItem .Avatar {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  height: 2.8rem;
  border-radius: 40%;
}

.FriendTabContainer main .ChannelItem .Texts {
  display: inline;
  margin-left: 0.3rem;
  color: #404040;
  font-weight: 700;
  font-size: 0.8rem;
}

.FriendTabContainer main .ChannelItem .Texts .NumChannel {
  margin-left: 0.3rem;
  color: #c7c7c7;
  display: inline;
}

.FriendTabContainer main .UserItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.4rem;
  padding: 0.2rem;
}

.FriendTabContainer main .UserItem:hover {
  background-color: #f7f7f7;
}

.FriendTabContainer main .UserItem .Avatar {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  height: 2.8rem;
  border-radius: 40%;
}

.FriendTabContainer main .UserItem .Infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.4rem;
}

.FriendTabContainer main .UserItem .Infos .LeftInfo .NickName {
  color: #404040;
  font-weight: bold;
  font-size: 0.8rem;
}

.FriendTabContainer main .UserItem .Infos .LeftInfo .StatMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.7rem;
  color: #c7c7c7;
}

.FriendTabContainer main .UserItem .Infos .RightInfo {
  max-width: 50%;
  border: 0.12rem solid #9ae7b0;
  border-radius: 1rem;
  padding: 0.2rem;
}

.FriendTabContainer main .UserItem .Infos .RightInfo .Music {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.7rem;
  color: #404040;
}

.ChatTabContainer {
  display: block;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ChatTabContainer .ChatTabHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-app-region: drag;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.8rem;
}

.ChatTabContainer .ChatTabHeader .HeaderTitle {
  color: #404040;
  font-weight: 700;
  margin-left: 0.8rem;
}

.ChatTabContainer .ChatTabHeader #addChat {
  margin-right: 0.5rem;
}

.ChatTabContainer .ChatTabHeader #addChat:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.ChatTabContainer .ChatSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2.5rem;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 35%;
  background-color: #f7f7f7;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 6px 6px 6px 6px;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper #search {
  margin-left: 0.3rem;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper .SearchFriends {
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f7f7f7;
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper .SearchFriends::-webkit-input-placeholder {
  color: #c7c7c7;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper .SearchFriends:-ms-input-placeholder {
  color: #c7c7c7;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper .SearchFriends::-ms-input-placeholder {
  color: #c7c7c7;
}

.ChatTabContainer .ChatSearchBar .SearchFriendsWrapper .SearchFriends::placeholder {
  color: #c7c7c7;
}

.ChatTabContainer main.Chat {
  height: calc(100% - 5.3rem);
  overflow-y: auto;
}

.ChatTabContainer main.Chat::-webkit-scrollbar {
  width: 0.3rem;
}

.ChatTabContainer main.Chat::-webkit-scrollbar-track {
  background-color: transparent;
}

.ChatTabContainer main.Chat::-webkit-scrollbar-thumb {
  border-radius: 0.09rem;
  background-color: #c7c7c7;
}

.ChatTabContainer main.Chat::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.ChatTabContainer main.Chat .ChatRoomItem {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  -ms-grid-columns: 3rem 1fr 4.2rem;
      grid-template-columns: 3rem 1fr 4.2rem;
  height: 3.5rem;
}

.ChatTabContainer main.Chat .ChatRoomItem:hover {
  background-color: #f7f7f7;
}

.ChatTabContainer main.Chat .ChatRoomItem .AvatarWarpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ChatTabContainer main.Chat .ChatRoomItem .AvatarWarpper .Avatar {
  height: 2.8rem;
  border-radius: 40%;
}

.ChatTabContainer main.Chat .ChatRoomItem .Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-left: 0.8rem;
}

.ChatTabContainer main.Chat .ChatRoomItem .Left .Title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: #404040;
}

.ChatTabContainer main.Chat .ChatRoomItem .Left .Message {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  color: #777777;
  white-space: pre-line;
}

.ChatTabContainer main.Chat .ChatRoomItem .Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.ChatTabContainer main.Chat .ChatRoomItem .Right .CurrentTime {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  color: #c7c7c7;
}

.ChatTabContainer main.Chat .ChatRoomItem .Right .NumUnread {
  margin-top: 0.4rem;
}

.Badge {
  background-color: #fd5b49;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
  border-radius: 1rem;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
}

.MoreTabContainer {
  display: block;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.MoreTabContainer .MoreTabHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-app-region: drag;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.8rem;
}

.MoreTabContainer .MoreTabHeader .HeaderTitle {
  color: #404040;
  font-weight: 700;
  margin-left: 0.8rem;
}

.MoreTabContainer main {
  height: calc(100% - 3.8rem);
}

.MoreTabContainer main .Wallet {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.3rem;
      grid-template-rows: 1fr 2.3rem;
  margin: 0.8rem;
  height: 7rem;
  background-color: #fafafa;
  border: 0.1rem solid #f1f1f1;
  border-radius: 0.4rem;
}

.MoreTabContainer main .Wallet .Top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.4rem;
      grid-template-columns: 1fr 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.MoreTabContainer main .Wallet .Top .Left .Name {
  color: #404040;
}

.MoreTabContainer main .Wallet .Top .Left .Email {
  padding-top: 0.2rem;
  color: #777777;
  font-size: 0.7rem;
}

.MoreTabContainer main .Wallet .Top .ProtectIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.MoreTabContainer main .Wallet .Subscription {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2rem;
      grid-template-columns: 1fr 2rem;
  border-top: 0.1rem solid #f1f1f1;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.MoreTabContainer main .Wallet .Subscription:hover {
  background-color: #f7f7f7;
}

.MoreTabContainer main .Wallet .Subscription .Text {
  font-size: 0.8rem;
}

.MoreTabContainer main .Wallet .Subscription .BTIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.MoreTabContainer main .Wallet .Subscription .BTIcon img {
  display: block;
  height: 50%;
}

.MoreTabContainer .Icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 3.3rem;
  gap: 1rem;
  margin: 2rem 1rem;
}

.MoreTabContainer .Icons .Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MoreTabContainer .Icons .Icon img {
  width: 2rem;
}

.MoreTabContainer .Icons .Icon .Text {
  font-size: 0.75rem;
  color: #9a9a9a;
}

.MoreTabContainer .Divider {
  height: 0.1rem;
  margin: 3rem 1rem 1rem;
  border-top: 1px solid #f1f1f1;
}

.MoreTabContainer .VersionInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1rem;
}

.MoreTabContainer .VersionInfo .KakaoTalkInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.MoreTabContainer .VersionInfo .KakaoTalkInfo img {
  width: 1rem;
  margin-right: 0.5rem;
}

.MoreTabContainer .VersionInfo .Version {
  margin-right: 1rem;
  font-size: 0.8rem;
  color: #9a9a9a;
}

.ChatRoomContainer {
  display: block;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ChatRoomContainer .Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-app-region: drag;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6rem;
  background-color: azure;
}

.ChatRoomContainer main {
  background-color: aquamarine;
  height: calc(100% - 14.3rem);
}

.ChatRoomContainer .InputTools {
  height: 2.4rem;
  background-color: #f7f7f7;
}

.ChatRoomContainer .Input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem;
      grid-template-columns: 1fr 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.9rem;
  background-color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.ChatRoomContainer .Input .TextInput {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.88rem;
  height: 90%;
  outline: none;
  border: none;
  resize: none;
}

.ChatRoomContainer .Input .SendButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  color: #c7c7c7;
  font-size: smaller;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */