.Sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-app-region: drag;
  height: 100%;
  width: 4.2rem;
  background-color: #423630;
  position: -webkit-sticky;
  position: sticky;
}

.Sidebar img {
  -webkit-filter: invert(70%);
          filter: invert(70%);
}

.Sidebar img.highlight {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.Sidebar img:hover {
  -webkit-filter: opacity(0.9) invert(85%);
          filter: opacity(0.9) invert(85%);
}

.Sidebar #personal {
  position: absolute;
  top: 4rem;
}

.Sidebar #chat {
  position: absolute;
  top: 7rem;
}

.Sidebar #etc {
  position: absolute;
  top: 9.5rem;
}

.Sidebar #bell {
  position: absolute;
  bottom: 3.5rem;
}

.Sidebar #setting {
  position: absolute;
  bottom: 1rem;
}

.ContentRoot {
  display: block;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: lightgreen;
}

.ContentRoot .ContentHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-app-region: drag;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 2.8rem;
  background-color: white;
}

.ContentRoot .ContentHeader .TabName {
  margin-left: 0.8rem;
}

.ContentRoot .ContentHeader #addFriend {
  margin-right: 0.5rem;
  -webkit-filter: invert(15%);
          filter: invert(15%);
}

.ContentRoot .ContentHeader #addFriend:hover {
  -webkit-filter: opacity(0.9) invert(20%);
          filter: opacity(0.9) invert(20%);
}

.ContentRoot .ContentSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2.5rem;
  background-color: white;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  height: 35%;
  background-color: #f7f7f7;
  padding: 0.25rem;
  border-radius: 6px 6px 6px 6px;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper #search {
  margin-left: 0.3rem;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper .SearchFriends {
  border: none;
  outline: none;
  background-color: #f7f7f7;
  margin-left: 0.3rem;
  font-size: 0.8rem;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper .SearchFriends::-webkit-input-placeholder {
  color: #c7c7c7;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper .SearchFriends:-ms-input-placeholder {
  color: #c7c7c7;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper .SearchFriends::-ms-input-placeholder {
  color: #c7c7c7;
}

.ContentRoot .ContentSearchBar .SearchFriendsWrapper .SearchFriends::placeholder {
  color: #c7c7c7;
}

body {
  margin: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  background-color: antiquewhite;
}
/*# sourceMappingURL=style.css.map */